body {
	overflow: hidden;
	background-image:url('../images/bush.png');
	background-repeat:repeat-x;
	background-position:bottom;
	height:100%
}

canvas {
	display: block;
}

#gameCanvas {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	background-image:url('../images/stoneTile.jpeg');
	border:1px solid black;
	display:none;
}

#welcome {
	text-align: center;
	width: 100%;
	position: absolute;
	top: 40%;
	font-size: 60px;
}

#gameOver{
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	width:270px;
	height:100px;
	border:2px solid black;
	margin-top:50px;
	position: absolute; 
	text-align:right;
	left: -250px;
}

#gameOver h1{
	padding-right: 20px;
	font-size: 30px;
	margin-top: 32px;
}